@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0 50px;
  position: absolute;
}

li {
  list-style-type: none;
  font-size: 12px;
  color: lightslategray;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  /* position: relative;
  top: 10; */
  width: 95%;
  background-color: white;
  height: 120px;
  padding: 20px;
}

header img {
  height: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul:first-child {
  display: flex;
}

nav ul:first-child li {
  margin-right: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

section {
  display: flex;
}

section img {
  width: 50%;
  height: 500px;
}

section div {
  background-color: #f3ede8;
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 10px 10px 10px;
  opacity: 0.7;
}

section div h4 {
  font-size: 12px;
  margin-bottom: 10px;
}
section div h2 {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 30px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

i {
  font-style: italic;
}

section div a {
  border: 1px solid #2e2f2d;
  padding: 15px;
  font-size: 12px;
  display: block;
  text-align: center;
}

.section__link a {
  width: 70%;
  transition: all 0.15s ease-in-out;
}

.section__link {
  width: 100%;
  padding-top: 20px;
  opacity: 0.9;
}

.section__link a:hover {
  color: white;
  background-color: #2e2f2d;
}
