.grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
}

.header {
  background-color: #2ecc71;
  /* span : how many cells does it have? */ 
  grid-column: span 4;
}

.content {
  background-color: #3498db;
  /* start/end */
  grid-column: 1/-2;
  grid-row: 2/-2;
}

.nav {
  background-color: #8e44ad;
  grid-row: 2/-2;
}

.footer {
  background-color: #f39c12;
  grid-column: span 4;
