@import "../reset.css";
@import "./variables.css";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  position: fixed;
  background-color: var(--main-white);
  width: 33%;
  height: 100%;
  padding: 190px;
  padding: 10vh 0 72px 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--main-red);
}

header h1 {
  font-size: 85px;
  width: 50%;
  margin-bottom: 80px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

header h3 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}

h3,
p {
  width: 70%;
  text-align: justify;
  line-height: 1.2;
}

p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

header nav {
  width: 80%;
}

header ul {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  margin-right: 10px;
  font-size: 15px;
  color: black;
  opacity: 0.5;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  margin-bottom: 3px;
  cursor: pointer;
}

li:hover {
  opacity: 1;
}

main {
  height: 5000vh;
  background-color: var(--main-red);
  margin-left: 33%;
}

main .movie__header {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  margin: 50px 50px 30px 10px;
  align-items: flex-end;
}

.movie {
  width: 100%;
  padding: 30px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 5%,
      transparent,
      transparent,
      transparent,
      transparent
    )
    var(--main-red);
}

.movie__header h4 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
}

.movie__header h5 {
  font-size: 15px;
  font-weight: 400;
}

.movie img {
  width: 100%;
}
